@import "../../styles.scss";

.shop-links-bar {
  background-color: $offset-bar-background;
  display: flex;
}

a {
  color: $bar-background;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: black;
}

.shop-links-content {
  height: 34px;
  @include content-box;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
