<div class="nav-bar">
  <div class="nav-content">
    <img src="../../assets/images/thinkgeek-logo.png" alt="ThinkGeek logo">

    <div class="nav-right-content">
      <ul id="customer-list">
        <li>Customer Service:</li>
        <li>Live Chat</li>
        <li>Help</li>
        <li>Store Locations</li>
      </ul>
      <img id="search-monkey" src="../../assets/images/timmy-grip.png" alt="Timmy mascot on a search bar">
      <div class="discount-offer">
        <h3><span ckass="emphasis">Free Shipping</span> on Orders $75+</h3>
        <p>US Economy Only - No code - Doesn't Combine with Other Offers</p>
      </div>
    </div>
  </div>
</div>
