<div class="social-bar">
  <div class="social-content">
    <p>© COPYRIGHT 1999-2018 GEEKNET, INC. ALL RIGHTS RESERVED</p>
    <p>11216 WAPLES MILL RD. SUITE 100 • FAIRFAX, VA 22030 <i></i></p>
    <div class="social-links" style='font-size: 23px' >
      <a href=''class="social">
        <i class="fab fa-facebook"></i>
      </a>
      <a href=''class="social">
        <i class="fab fa-twitter"></i>
      </a>
      <a href=''class="social">
        <i class="fab fa-google-plus"></i>
      </a>
      <a href=''class="social">
        <i class="fab fa-pinterest"></i>
      </a>
      <a href=''class="social">
        <i class="fab fa-instagram"></i>
      </a>
      <a href=''class="social">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</div>
