<div class="social-bar">
  <div class="social-content">
    <p>© COPYRIGHT 1999-2018 GEEKNET, INC. ALL RIGHTS RESERVED</p>
    <p>11216 WAPLES MILL RD. SUITE 100 • FAIRFAX, VA 22030 <i></i></p>
    <div class="social-links">
      <div  class="social">
        <img src="../../assets/images/facebook.svg" alt="">
      </div>
      <div  class="social">
        <img src="../../assets/images/twitter.svg" alt="">
      </div>
      <div  class="social">
        <img src="../../assets/images/googleplus.svg" alt="">
      </div>
      <div  class="social">
        <img src="../../assets/images/pinterest.svg" alt="">
      </div>
      <div  class="social">
        <img src="../../assets/images/instagram.svg" alt="">
      </div>
      <div  class="social">
        <img src="../../assets/images/youtube.svg" alt="">
      </div>
    </div>
  </div>
</div>
