@import "../../styles.scss";

.social-bar {
  background-color: $bar-background;
  display: flex;
}

.social-content {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 171px;
  color: $offset-bar-background;
}
