* {
  margin: 0 0;
  padding: 0 0;
}

body {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  margin: 0 auto;
}

app-nav-bar {
  position: absolute;
  top: 0px;
  width: 100%;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 11px;
}

app-footer-bar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 11px;
}
