<div class="nav-bar-directory">
  <div class="directory-content">
    <article></article>
    <div class="directory-link">
      <a href="https://www.thinkgeek.com/categories/"><p>Shop by Category &nbsp; &nbsp; <i class="fas fa-angle-down"></i></p></a>
    </div>
    <article></article>
    <div class="directory-link">
      <a href="https://www.thinkgeek.com/interests/"><p>Shop by Interest &nbsp; &nbsp; <i class="fas fa-angle-down"></i></p></a>
    </div>
    <div class="search-bar-container">
      <article></article>
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <article></article>
        <div class="search-glass">
          <i class="fas fa-search"></i>
        </div>
      </div>
      <article></article>
    </div>
    <div class="directory-link">
      <a href="https://www.thinkgeek.com/brain/account/login.cgi"><p><i class="fas fa-lock"></i> &nbsp; &nbsp; Login</p></a>
    </div>
    <article></article>
    <div class="directory-link">
      <a href="https://www.thinkgeek.com/brain/loot.cgi"><p><i class="fas fa-shopping-cart"></i> &nbsp; &nbsp; No Loot</p></a>
    </div>
    <article></article>
  </div>
</div>
