@import "../../styles.scss";

.nav-bar-directory {
  background-color: $dark-background;
  display: flex;
  color: $offset-bar-background;
  position: relative;
  z-index: 5;
}

.directory-content {
  height: 44px;
  width: 100%;
  max-width: $main-body-width;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 5;
  article {
    height: 70%;
    border-right: solid 1px $bar-text-dark;
  }
  a {
    text-decoration: none;
    color: $offset-bar-background;
  }
}

.search-bar-container {
  height: 100%;
  display: flex;
  align-items: center;
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $offset-light-background;
    border-radius: 3px;
    height: 75%;
    width: 440px;
    margin: 5px;
    // article {
    //   border-right: black 1px;
    //   border-right-width: 1px;
    //   width: 2px;
    // }
    input {
      margin-left: 5px;
      height: 80%;
      width: 390px;
      border: none;
      background: none;
      font-size: 1em;
    }
    .search-glass {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: $bar-text-dark2;
        font-size: 1.5em;
      }
      width: 35px;
      height: 35px;
    }
  }
}
