<div class="nav-bar-directory">
  <div class="directory-content">
    <div class="directory-link">
      <p>Shop by Category &nbsp; &nbsp; <i class="fas fa-angle-down"></i></p>
    </div>
    <article></article>
    <div class="directory-link">
      <p>Shop by Interest &nbsp; &nbsp; <i class="fas fa-angle-down"></i></p>
    </div>
    <div class="search-bar">

    </div>
    <div class="directory-link">
      <p><i class="fas fa-lock"></i> &nbsp; &nbsp; Login</p>
    </div>
    <article></article>
    <div class="directory-link">
      <p><i class="fas fa-shopping-cart"></i> &nbsp; &nbsp; No Loot</p>
    </div>
  </div>
</div>
