@import "../../styles.scss";

.category-section {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-object {
  list-style: none;
  margin: 0 15px 20px 15px;
  a {
    text-decoration: none;
    color: $content-links;
    line-height: 2em;
    font-size: .9em;
  }
  li:last-child {
    a {
      color: $bar-text-dark2;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    height: 340px;
  }
  p {
    position: relative;
    bottom: -340px;
    left: 15px;
    font-size: 1.4em;
    font-weight: 900px;
    color: $bar-text-light;
    text-transform: uppercase;
  }
}
