@import "../../styles.scss";

.links-bar {
  background-color: $offset-bar-background;
  display: flex;
}

.background {
    background-image: url(../../assets/images/dragon-slayer.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    height: 373px;
}

.links-content {
  width: 100%;
  height: 100%;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  list-style: none;
  line-height: 2em;
  font-weight: 600;
  div {
    margin: 10px 20px;
  }
  ul {
    padding: 20px 0;
    list-style-type: none;
    font-size: 1.5em;
    color: $bar-background;
  }
  a {
    text-decoration: none;
    color: $footer-links;
  }
  a:hover {
    text-decoration: underline;
  }
}
