$bar-background: #384245;
$dark-background: #30383B;
$bar-text-light: #fff;
$offset-bar-background: #dee4e7;
$bar-text-dark: rgba(255,255,255,.35);
$bar-text-dark2: #617179;
$footer-links: #517DB0;

// @mixin fontStyling() {
//   text-transform: uppercase;
//   font-family: 'Lato', helvetica;
//   font-size: 11px;
// }
