//Sass Variables

$bar-background: #384245;
$dark-background: #30383B;
$bar-text-light: #fff;
$offset-bar-background: #dee4e7;
$bar-text-dark: rgba(255,255,255,.35);
$bar-text-dark2: #617179;
$footer-links: #517DB0;
$main-body-width: 1140px;

// @mixin fontStyling() {
//   text-transform: uppercase;
//   font-family: 'Lato', helvetica;
//   font-size: 11px;
// }

//Page-wide stylings

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  margin: 0 auto;
}

app-nav-bar {
  position: relative;
  top: 0px;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Lato', helvetica;
  font-size: 11px;
}

app-nav-bar-main {
  position: relative;
  z-index: 10;
}

app-nav-bar-directory {
  position: relative;
  z-index: 5;
}

app-footer-bar {
  position: relative;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
  font-family: 'Lato', helvetica;
  font-size: 11px;
}
