//Sass Variables

$bar-background: #384245;
$dark-background: #30383B;
$bar-text-light: #fff;
$offset-light-background: #f3f5f6;
$offset-bar-background: #dee4e7;
$bar-text-dark: rgba(255,255,255,.35);
$bar-text-dark2: #617179;
$footer-links: #517DB0;
$content-links: #48a9e0;
$main-body-width: 1140px;


//Page-wide stylings

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  display: inline-block;
  position: absolute;
  min-width: $main-body-width;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: 'Lato', helvetica;
}

app-nav-bar {
  position: relative;
  top: 0px;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
}

app-nav-bar-main {
  position: relative;
  z-index: 10;
}

app-nav-bar-directory {
  position: relative;
  z-index: 5;
}

app-content {
  display: block;
  margin: 0 auto;
  max-width: $main-body-width;
}

app-content-categories {
  margin: 0 auto;
  width: 100%;
}

app-footer-bar {
  position: relative;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
  font-size: 11px;
}
